@import 'constants';

.page-arena {
    .arena-container {
        $width: 60vw;

        width: 60vw;
        height: 30px;
        margin-left: (100vw - $width) / 2;
        .input {
            @at-root #{&}--arena {
                width: 100%;
                outline: none;
                font-size: 24px;
            }
        }

        
    }
}