@import 'constants';

.page-arena {
    .arena-container {
        $width: 60vw;

        width: 60vw;
        height: 30px;
        margin-left: (100vw - $width) / 2;

        .textbox {
            font-size: 1.2em;
            line-height: 1.3em;
            margin-bottom: 20px;

            @at-root #{&}--completed {
                color: green;
            }

            @at-root #{&}--incorrect {
                color: red;
            }

            @at-root #{&}--current-word {
                border-bottom: 2px solid black;
            }
        }

        .input {
            @at-root #{&}--arena {
                width: 100%;
                outline: none;
                font-size: 24px;
            }
        }
    }
}